<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title ">Usuários</h4>
						<p class="card-category"> Lista de usuários cadastrados</p>
						<a routerLink="/new" class="new-user"><i class="icon-newuser material-icons">
								person_add
							</i>Novo Usuário</a>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
								<thead class=" text-primary">
									<th>
										ID
									</th>
									<th>
										Name
									</th>
									<th>
										Country
									</th>
									<th>
										Deletar
									</th>
									<th>
										Editar
									</th>
								</thead>
								<tbody>
									<tr *ngFor="let user of users">
										<td>
											{{ user.id }}
										</td>
										<td>
											{{ user.name }}
										</td>
										<td>
											{{ user.email }}
										</td>
										<td>
											<a class="ecks" (click)="destroy(user.id)"> <i class="material-icons">
													close
												</i></a>
										</td>
										<td>
											<a routerLink="/edit/{{user.id}}"> <i class="material-icons">
													edit</i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>